* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  background-color: #242526;
  position: fixed;
  width: 100%;
  z-index: 999;
  height: 65px;
  line-height: 65px;
}

nav .wrapper {
  position: relative;
  max-width: 1250px;
  padding: 0 30px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper .nav_links {
  display: flex;
}

.wrapper .logo a,
.nav_links li a {
  color: #f2f2f2;
  text-decoration: none;
}
.wrapper .logo a {
  font-size: 27px;
  font-weight: 600;
  text-transform: uppercase;
}

.nav_links li a {
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  padding: 9px 15px;
  transition: all 0.3s ease;
}

.nav_links li {
  list-style-type: none;
}
.nav_links li a:hover {
  background: #3a3b3c;
}
.nav_links .mobile_item {
  display: none;
}

/**********************************
            Drop Down Menu             
*********************************** */

.nav_links .drop_menu {
  position: absolute;
  top: 65px;
  width: 180px;
  line-height: 45px;
  background-color: #242526;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.nav_links li:hover .drop_menu,
.nav_links li:hover .mega_box {
  top: 65px;
  opacity: 1;
  visibility: visible;
}

.drop_menu li a {
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}

/**********************************
              Mega Menu             
*********************************** */

.mega_box {
  position: absolute;
  top: 85px;
  left: 0;
  width: 100%;
  padding: 0 30px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.mega_box .content {
  background-color: #242526;
  padding: 25px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.content .row {
  width: calc(25% - 30px);
  line-height: 45px;
}

.content .row header {
  color: #fff;
  font-weight: 800;
  font-size: 20px;
}

.content .row .services_img {
  background-image: url(https://i.pinimg.com/originals/cc/21/4a/cc214a8fc4c81b090c84811ddcfa791c.jpg);
  background-color: #d9d9d9;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.content .row .mega_links {
  margin-left: -40px;
  border-left: 1px solid rgba(255, 255, 255, 0.09);
}
.content .row .first_links {
  border-left: 0px;
}

.row .mega_links li {
  padding: 0 20px;
}
.row .mega_links li a {
  padding: 0 20px;
  color: #d9d9d9;
  font-size: 17px;
  line-height: 45px;
  display: block;
}

/**********************************
          Responsive Styles             
*********************************** */

@media screen and (max-width: 970px) {
  .wrapper .nav_links {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    background: #242526;
    display: block;
    top: 0;
    left: 0;
    overflow-y: auto;
    line-height: 50px;
    padding: 50px 10px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
  }
  .nav_links li {
    margin: 15px 10px;
  }
  .nav_links li a {
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }

  /* drop down responsive */

  .nav_links .drop_menu {
    position: static;
    opacity: 1;
    visibility: visible;
    top: 65px;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
  }

  #showDrop:checked ~ .drop_menu {
    max-height: 100%;
  }
  .nav_links .drop_menu li {
    margin: 0;
  }
  .nav_links .drop_menu li a {
    font-size: 18px;
    border-radius: 5px;
  }
  .nav_links .desktop_item {
    display: none;
  }
  .nav_links .mobile_item {
    display: block;
    font-size: 20px;
    color: #f2f2f2;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav_links .mobile_item:hover {
    background: #3a3b3c;
  }

  /* Mega menu responsive */

  .mega_box {
    position: static;
    top: 65px;
    width: 100%;
    padding: 0 20px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
  }

  .mega_box .content {
    background-color: #242526;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega_box .content .row {
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
  }
  .mega_box .content .row:nth-child(1),
  .mega_box .content .row:nth-child(2) {
    border-top: 0px;
  }
  .content .row .services_img {
    height: 200px;
  }
  .content .img_row {
    border-top: none !important;
  }
  .content .row .mega_links {
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega_links li {
    margin: 0;
  }
  .content .row header {
    font-size: 18px;
  }
}
.wrapper input {
  display: none;
}
